ul, li {
	margin: 0;
	padding: 0;
	text-indent: 0;
}

/* Style */
ul {
	list-style: url(none) none;
}
ul li {
	display: inline;
	float: right;
	position: relative;
	background-color: #54258E;
	width: 150px;
	margin: 0;
}
ul li a {
	color: #FFF;
	text-decoration: none;
	text-align: center;
	background-color: #54258E;
	font-size: 1.5em;
	display: block;
	width: 140px;
	padding: 2px 5px;
}
ul li a:hover, ul li a:active {
	background-color: #8397DE;
	font-size: 1.5em;
	color: #FFF;
}
ul li ul {
	position: absolute;
	display: none;
}
ul li ul li {
	display: list-item;
	float: none;
	margin: 0;
}
ul li ul li a {
	font-size: 1em;
}

