<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee   http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <filter>
        <filter-name>LoginFilter</filter-name>
        <filter-class>com.sicap.clientes.filters.LoginFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>/controller/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>/admin/*</url-pattern>
    </filter-mapping>
    <listener>
        <listener-class>org.apache.commons.fileupload.servlet.FileCleanerCleanup</listener-class>
    </listener>
    <listener>
        <listener-class>com.sicap.clientes.util.BuroCirculoTimerUtil</listener-class>
    </listener>
    <listener>
        <listener-class>com.sicap.clientes.util.IngresoPagosPaynetUtil</listener-class>
    </listener>
    <listener>
        <listener-class>com.sicap.clientes.util.PagosUtil</listener-class>
    </listener>
    <listener>
        <listener-class>com.sicap.clientes.util.MigracionArchivosTimerUtil</listener-class>
    </listener>
    <listener>
        <listener-class>com.sicap.clientes.util.VencimientoPagaresTimerUtil</listener-class>
    </listener>
    <listener>
        <listener-class>com.sun.xml.ws.transport.http.servlet.WSServletContextListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>AdministracionController</servlet-name>
        <servlet-class>com.sicap.clientes.controller.AdministracionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApplicationController</servlet-name>
        <servlet-class>com.sicap.clientes.controller.ApplicationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsultaCirculo</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>Autenticacion</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>VerificaCliente</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>SaldoFondeador</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>CalificacionClienteRenovacion</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdministracionController</servlet-name>
        <url-pattern>/admin/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApplicationController</servlet-name>
        <url-pattern>/controller/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsultaCirculo</servlet-name>
        <url-pattern>/ConsultaCirculo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Autenticacion</servlet-name>
        <url-pattern>/Autenticacion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerificaCliente</servlet-name>
        <url-pattern>/VerificaCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaldoFondeador</servlet-name>
        <url-pattern>/SaldoFondeador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CalificacionClienteRenovacion</servlet-name>
        <url-pattern>/CalificacionClienteRenovacion</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    <mime-mapping>
        <extension>txt</extension>
        <mime-type>text/plain</mime-type>
    </mime-mapping>
    <welcome-file-list>
        <welcome-file>controller</welcome-file>
    </welcome-file-list>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Controlador administracion</web-resource-name>
            <url-pattern>/admin/*</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
        </web-resource-collection>
        <auth-constraint>
            <description>Administracion SICAP</description>
            <role-name>admin</role-name>
            <role-name>ADM_EJECUTIVOS</role-name>
            <role-name>ADM_PAGOS</role-name>
            <role-name>ADM_ORDENESPAGO</role-name>
            <role-name>CAMBIO_ESTATUS_CHEQUE</role-name>
            <role-name>SOPORTE_OPERATIVO</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Controlador</web-resource-name>
            <url-pattern>/controller/*</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
        </web-resource-collection>
        <auth-constraint>
            <description>Auxiliares de credito</description>
            <role-name>AUXILIAR_CREDITO</role-name>
        </auth-constraint>
    </security-constraint>
    <login-config>
        <auth-method>FORM</auth-method>
        <realm-name>Tomcat Supported Realm</realm-name>
        <form-login-config>
            <form-login-page>/login.jsp</form-login-page>
            <form-error-page>/loginError.jsp</form-error-page>
        </form-login-config>
    </login-config>
    <security-role>
        <description>Administracion SICAP</description>
        <role-name>admin</role-name>
    </security-role>
    <security-role>
        <description>Auxiliar de credito</description>
        <role-name>AUXILIAR_CREDITO</role-name>
    </security-role>
    <security-role>
        <description>Administracion de ejecutivos</description>
        <role-name>ADM_EJECUTIVOS</role-name>
    </security-role>
    <security-role>
        <description>Administracion de pagos</description>
        <role-name>ADM_PAGOS</role-name>
    </security-role>
    <security-role>
        <description>Administracion de ordenes de pago</description>
        <role-name>ADM_ORDENESPAGO</role-name>
    </security-role>
    <security-role>
        <description>Gerentes para cancelar ordenes de pago</description>
        <role-name>CAMBIO_ESTATUS_CHEQUE</role-name>
    </security-role>
    <security-role>
        <description>Soprte operativo</description>
        <role-name>SOPORTE_OPERATIVO</role-name>
    </security-role>
    <resource-ref>
        <res-ref-name>jdbc/sicap</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>
    <resource-ref>
        <res-ref-name>jdbc/carsicap</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>
    <resource-ref>
        <res-ref-name>jdbc/migracion</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>
</web-app>
